@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");



:root {
  --green:rgb(12, 131, 36);
  --black:rgb(5, 5, 6);
  --lightgreen:rgb(175, 222, 175);
  --yellow: #FFBD13;
	--blue: #4383FF;
	--blue-d-1: #3278FF;
	--light: #F5F5F5;
	--grey: #AAA;
	--white: #FFF;
	--shadow: 8px 8px 30px rgba(0,0,0,.05);
}

* {
    font-family : Georgia, 'Times New Roman', Times, serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.2s linear ;
}

body {
    background-color: #fff;
    width: 100vw;
}

*::selection {
    background: var(--green);
    color : #fff;
}

html {
    font-size: 63%;
    overflow-x: hidden;
    scroll-padding-top: 6.5rem ;
    scroll-behavior: smooth;
}

.header-1 {
    background: rgb(175, 222, 175);
    display :flex;
    align-items: center;
    justify-content :space-around;
    padding: 1rem 1%;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.936);
    position: relative;
}
    



 div img {
    width: 100px;
    display: flex;
    align-self: flex-start;
    /* align-self: center; */
}

.header-1 .website-logo {
  display :flex;
  align-items: center;
  justify-content : flex-start;
   
}

.header-1 .navbar a{
    padding: 0.5rem 1.5rem;
    font-size: 2rem;
    border-radius: 1rem;
    color: var(--black);
}

.header-1 .navbar a:hover {
    background:var(--green);
    color: #fff;    
}


.nav-item {
  position: relative;
  margin: 0 10px; /* Adjust spacing between items */
}

.nav-item a {
  display: block;
  padding: 1em;
  text-decoration: none;
  color: #fff;
}

header .header-1 .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
 
}

header .header-1 .navbar div{
  padding: 0.5rem 0.5rem;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: rgb(175, 222, 175);
  min-width: 160px;
  z-index: 1;
}

.dropdown-menu a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #fff;
}

.dropdown:hover .dropdown-menu {
  display: block;
}



.header-1 .website-logo a {
  font-size: 20px;
  font-weight: bold;
  color: var(--green);
}
.header-1 .login-button a{
    padding: 0.5rem 1.5rem;
    font-size: 2rem;
    border-radius: 0.8rem;
    background:var(--green);
    color: var(--black);
}

.header-1 .login-button a:hover {
    color: #fff;    
}

/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
} */
/* 
header {
    background-color: #f0f0f0;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
} */

.notification {
    background-color: #4CAF50;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-btn {
    background: none;
    border: none;
    color: white;
    /* font-size: 20px; */
    cursor: pointer;
    margin-right: 30px;
    
}


section{
    padding:2rem 9%;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.936);
  }
  

.home{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

  }
  
  .home .image{
    flex:1 1 40rem;
    padding-top: 3rem;
    display: flex;
    justify-content: end;
  }
  
  .home .image img{
    width: 200%;

  }
  
  .home .content{
    flex:1 1 40rem;
    
  }
  
  .home .content ul{
    font-size: 3rem;
    color: #666;
    margin-bottom: 30px;
    margin-top: 20px;
    line-height: 50px;
  }
  
  .home .content p span{
    font-size: 5rem;
    color:var(--black);
   
  }

  .home .content p {
    font-size: 3rem;
    color:var(--black);
    margin-bottom: 30px;
  }

  .btn{
    display: inline-block;
    margin-top: 1rem;
    margin-bottom: 2rem;
    background: var(--green);
    color:#fff;
    padding:1rem 3rem;
    font-size: 2.5rem;
    text-align: center;
    cursor: pointer;
  }
  
  .btn:hover{
    background:var(--black);
  }





  .slider-wrapper {
    overflow: hidden;
    max-width: 100vw;
    margin: 0 70px 55px;
    /* background-color: #030728; */
    /* min-height: 100v; */
  }
  
  

  .card-list .card-item {
    height: auto;
    color: #fff;
    user-select: none;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    backdrop-filter: blur(30px);
    background: var(--lightgreen);
    border: 1px solid var(--black);
  }
  
  /* .card-list .card-item .user-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 40px;
    border: 3px solid #fff;
    padding: 4px;
  } */
  
  /* .card-list .card-item .user-profession {
    font-size: 1.15rem;
    color: #e3e3e3;
    font-weight: 500;
    margin: 14px 0 40px;
  } */
  
  .card-list .card-item .message-button {
    font-size: 2rem;
    padding: 10px 35px;
    color: var(--black);
    border-radius: 6px;
    font-weight: 500;
    font-weight : bold;
    cursor: pointer;
    background: #fff;
    border: 1px solid transparent;
    transition: 0.2s ease;
  }
  
  .card-list .card-item .message-button:hover {
    background: var(--green);
    border: 2px solid #fff;
    color: #fff;
    font-weight: bold;
  }
  
  .slider-wrapper .swiper-pagination-bullet {
    background: var(--green);
    height: 13px;
    width: 13px;
    opacity: 0.5;
  }
  
  .slider-wrapper .swiper-pagination-bullet-active {
    opacity: 1;
  }
  
  /* .slider-wrapper .swiper-slide-button {
    color: var(--black);
    margin-top: -10px;
    transition: 0.2s ease;
  }
  
  .slider-wrapper .swiper-slide-button:hover {
    color: var(--green);
  } */

   .subject-name-card{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;;
    width: 200px;
    background-color: var(--green);
    margin-bottom: 25px;
    border-radius: 50%;
  }
  .subject-name {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    align-items: center;
  }
  
  .subject-name h2{
    text-align: center;
  }



.container h1 {
  font-size: 40px;
  margin-bottom: 25px;
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-self: center;
  text-decoration: underline;

}
  
.container {
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.936);
}

@media (max-width: 768px) {
  .slider-wrapper {
    margin: 0 10px 40px;
  }

  .slider-wrapper .swiper-slide-button {
    display: none;
  }
}



/* testimonial */

.container-testimonial {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--lightgreen);
  margin: 70px;
  border-radius: 1rem;
}
.testimonial {
  position: relative;
  width: 100%;
  padding: 50px 0;
  overflow: hidden;
}
.testimonial .image {
  height: 170px;
  width: 170px;
  display: flex;
  justify-self: center;
  align-self:center ;
  object-fit: cover;
  border-radius: 50%;
}
.testimonial .slide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 30px;
  height: 100%;
  width: 100%;
}
.slide p {
  text-align: center;
  line-height: 25px;
  padding: 0 160px;
  font-size: 14px;
  font-weight: 400;
  color: #333;
}
.slide .quote-icon {
  font-size: 30px;
  color: var(--green);
}
.slide .details {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.details .name {
  font-size: 14px;
  font-weight: 600;
  color: #333;
}
.details .job {
  font-size: 12px;
  font-weight: 400;
  color: #333;
}

.rating-testimonial{
  color: rgb(253, 180, 42);
  /* margin: 1rem 0; */
  font-size: 2rem;
}
/* swiper button css */
.nav-btn {
  height: 40px;
  width: 40px;
  margin-top: -40px;
  border-radius: 50%;
  transform: translateY(30px);
  background-color: rgba(0, 0, 0, 0.1);
  transition: 0.2s;
}
.nav-btn:hover {
  background-color: var(--green);
}
.nav-btn::after,
.nav-btn::before {
  font-size: 20px;
  color: #fff;
}
.container-testimonial .swiper-pagination-bullet{
  background-color: rgba(0, 0, 0, 0.8);
 
}
.container-testimonial .swiper-pagination-bullet-active {
  background-color: var(--green);
}
@media screen and (max-width: 768px) {
  .slide p {
    padding: 0 20px;
  }
  .nav-btn {
    display: none;
  }
}



/* rating and review */


/* body {
	background: var(--light);
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	padding: 1rem;
} */




.rating-review {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  background-color: var(--lightgreen);
  padding: 25px;
  margin: 70px;
  border-radius: 1rem;
}

.wrapper {
	background: var(--white);
	padding: 2rem;
	/* max-width: 400px;
	width: 100%; */
  width: 512px;
  height: 350px;
	border-radius: 1rem;
	box-shadow: var(--shadow);
	text-align: center;
}
.wrapper h3 {
	font-size: 3rem;
	font-weight: 600;
	margin-bottom: 1rem;
}
.rating {
	display: flex;
	justify-content: center;
	align-items: center;
	grid-gap: .5rem;
	font-size: 4rem;
	color: var(--yellow);
	margin-bottom: 2rem;
}

.rating-review .btn-group button {
  font-size: 2rem;
}
.rating .star {
	cursor: pointer;
}

.rating-review textarea {
  font-size: 2rem;
}
.rating .star.active {
	opacity: 0;
	animation: animate .5s calc(var(--i) * .1s) ease-in-out forwards;
}

@keyframes animate {
	0% {
		opacity: 0;
		transform: scale(1);
	}
	50% {
		opacity: 1;
		transform: scale(1.2);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}


.rating .star:hover {
	transform: scale(1.1);
}
textarea {
	width: 100%;
	background: var(--light);
	padding: 1rem;
	border-radius: .5rem;
	border: none;
	outline: none;
	resize: none;
	margin-bottom: .5rem;
}
.btn-group {
	display: flex;
	grid-gap: .5rem;
	align-items: center;
}
.btn-group .btn {
	padding: .75rem 1rem;
	border-radius: .5rem;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: .875rem;
	font-weight: 500;
}
.btn-group .btn.submit {
	background: var(--green);
	color: var(--white);
}
.btn-group .btn.submit:hover {
	background: var(--black);
}
.btn-group .btn.cancel {
	background: var(--light);
	color: var(--black);
}
.btn-group .btn.cancel:hover {
	background: rgb(183, 10, 10);
}

  




   /* footer section */

   
.footer .box-container{
  display: flex;
  gap:1.5rem;
  flex-wrap: wrap;
}

.footer .box-container .box{
  padding:1rem 0;
  flex:1 1 25rem;
}

.footer .box-container .box .share a{
  padding:0;
  height:4rem;
  width:4rem;
  line-height: 4rem;
  text-align: center;
}

.footer .box-container .box h3{
  font-size: 2.5rem;
  color:var(--black);
}

.footer .box-container .box p{
  font-size: 1.3rem;
  color:#666;
  padding:.7rem 0;
}

.footer .box-container .box .links{
  padding:1rem 0;
}

.footer .box-container .box .links a{
  display: block;
  padding:.5rem 0;
  font-size: 1.7rem;
  color:var(--black);
}

.footer .box-container .box .links a:hover{
  text-decoration: underline;
  color:var(--green);
}

.footer .credit{
  padding:2.5rem 1rem;
  border-top: .1rem solid rgba(0,0,0,.1);
  margin-top: 1rem;
  text-align: center;
  font-size: 2rem;
}

.footer .credit span{
  color:var(--green);
}


.footer img {
  width: 100px;
}

.footer .box-container .box .footer-logo-name {
  display:flex ;
  justify-content :start;
  align-items: center;
  color: var(--black);
}

.footer-logo-name a{
  font-size: 18px;
  font-weight: bold;
  color: var(--green);
}






